table,
  th,
  td {
    border: 0px;
    text-align: center;
    border-collapse: collapse;
    text-align: center;
    padding:5px;
  }

.margen-coordenadas {
  background-color: burlywood;
}

.blanco {
  background-color: white;
  padding: 20px;

}

.negro {
  background-color: black;
  padding: 20px;
}